.slider {
  width: 100%;
  height: 6px;
  border-radius: 6px;
  background: #ddd;
  margin-top: 20px;
}

.slider .thumb {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: #fcfc03;
  border-radius: 50%;
  top: -7px;
}

.slider .track-1 {
  height: 6px;
  background: #fcfc03;
  border-radius: 6px;
}
